h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: green;
  animation-name: rotate;
  animation-duration: 1s;
}
p {
  text-align: center;
  color: black;
}
body {
    background-color: turquoise;
    color: black;
    font-family: 'Playfair Display', serif;
  }

@keyframes rotate {
  from {transform: rotate(180deg);}
  to {transform: rotate(360deg);}
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #c1deeb;
	border: 2px solid #0a838b;
	outline: none;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
}

button {
	padding: 0;
  border: none;
  font-size: 1.25em;
}

button {
	color: navy;
	padding: .55em 1.25em;
	/* background-image: linear-gradient(to top right, #00ffcd, #00feff, #e49eff, #ac8fff, #79c2ff); */
	margin: 1.25em 0 .5em;
	cursor: pointer;
}

button:hover {
	background: linear-gradient(to bottom left, #00ffcd, #00feff, #e49eff, #ac8fff, #79c2ff);
}